<div class="filters">
  <form (ngSubmit)="search()">
    <!-- TODO Something is missing on those filters -->

    <!-- le filtre du genre-->
    <select [(ngModel)]="selectedGenre" name="genre">
      <option value="">Tous les films</option>
      <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
    </select>

    <label for="minimumRate">Minimum rating</label>
    
    <!-- le filtre du classement-->
    <select [(ngModel)]="selectedRating" name="rating">
      <option value="">Tous les classements</option>
      <option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</option>
    </select>
    <button type="submit">Search</button>
  </form>
</div>


<div class="movie-list">
  <ng-container *ngIf="movies$ | async as movies">

    <ng-container *ngFor="let movie of movies">
      <app-movie-card [movie]="movie"></app-movie-card>
    </ng-container>

    <!-- TODO if there is no movie to show - display a little message -->
    <p *ngIf="(movies$ | async)?.length === 0">Aucun film à afficher.</p>

    

  </ng-container>
</div>

